.vscode/
__pycache__/
env64/
.gitcredentials
src/fanalysis/data/
src/fanalysis/bm.ipynb
src/fanalysis/draw_tree
src/fanalysis/draw_tree.py
src/fanalysis/fastai_structured.py
src/fanalysis/get_packages.py
src/fanalysis/main.py
src/fanalysis/plots/
src/fanalysis/print_gui_tool/
src/fanalysis/testing.py
src/fanalysis/timeseries.ipynb
src/fanalysis/tree.dot
src/fanalysis/test1.py
tests/fanalysis
data/
env/
finmarketpy.log