.vscode/
__pycache__/
env64/
.gitcredentials
fanalysis/data/
fanalysis/bm.ipynb
fanalysis/draw_tree
fanalysis/draw_tree.py
fanalysis/fastai_structured.py
fanalysis/get_packages.py
fanalysis/main.py
fanalysis/plots/
fanalysis/print_gui_tool/
fanalysis/testing.py
fanalysis/timeseries.ipynb
fanalysis/tree.dot